{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure            {:mvn/version "1.12.0"}
           org.suskalo/coffi
           {:git/url "https://github.com/IGJoshua/coffi"
            :git/sha "03d74aedecfc7b38238f1cf8b676c1f7a00e1788"}
           org.clojure/core.cache         {:mvn/version "1.1.234"}
           ;; Clojure data encoding
           com.github.igrishaev/deed-core {:mvn/version "0.1.0"}
           ;; Data compression
           com.github.luben/zstd-jni      {:mvn/version "1.5.7-3"}}
 :aliases {:dev {:extra-paths ["dev"]
                 :jvm-opts
                 ["--enable-native-access=ALL-UNNAMED"
                  "-Duser.timezone=UTC"
                  "-XX:+UseZGC"
                  "-XX:+ZGenerational"]}}}

